<% provide(:title, 'About') %>

<h1>About</h1>

<p>It’s a social website like Github and Pinterest, but for chefs and cooks to share, discover, and store recipes.</p>

<p>You can create recipes, use markdown to edit how they look and feel, and attach pictures of your fantastical food creations.</p>

<p>Other users can “fork” your recipes into their own variations, adding a different ingredient or technique to make it their own.</p>