<% provide(:title, 'Terms of Service') %>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<section id="legal-terms-of-service-header">
			<div class="page-header">
				<h2>Statement of Rights and Responsibilities</h2>
			</div>
		</section>

		<section id="legal-terms-of-service-description">
			<div>There's nothing here yet, this is just for fun after all!</div>
		</section>
	</div>
</div>